@charset "UTF-8";
html,body,div,p,ul,li,dl,dt,dd,em,i,span,a,img,input,h1,h2,h3,h4,h5 {margin:0;padding:0;box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
button,input,select,textarea{font-size:100%;outline:none}
img { border: 0 none; vertical-align: top; pointer-events: none; }
i, em, b{ font-style: normal; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color: #666; }
a:hover, a:active {outline: none;}
input[type="text"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }