/**
 * 修改vux的样式
 * admin 2017/11/24 11:51
 */
/**
 *弹出框样式
 */
.weui-dialog{
    max-width: 6.4rem !important /* 240/37.5 */;
    .weui-dialog__hd{
        padding: 0.3em 0.6em !important;
    }
    .weui-dialog__bd {
        padding: 0 1.6em !important;
    }
    .weui-dialog__ft {
        line-height: 44px !important;
    }
}

/**
 *toast样式
 */
.vux-toast{
    .weui-toast{
        min-height: 3.2rem !important /* 120/37.5 */;
        width: 3.2rem !important;
    }
}

/**
 *loading样式
 */
 .vux-loading{
    .weui-toast{
        background: none !important;
        .weui-loading{
            height: .88rem /* 33/37.5 */;
            width: .88rem /* 33/37.5 */;
        }
    }
 }

/**
 *修改grid组件样式,去掉边框
 */
 .weui-grids:before {
    height: 0px !important;
    border-top: none !important;
}
.weui-grid:before {
    width: 0px !important;
    border-right: none !important;
}
.weui-grids:after {
    width: 0px !important;
    border-left: none !important;
}
.weui-grid:after {
    height:0px !important;
    border-bottom: none !important;
}
.weui-grid{
    .weui-grid__label{
        color: #999999;
        font-size: 12px;
    }
}
/**
 *修改cell样式，去掉上边距
 */
 .weui-cells {
    margin-top: 0px !important;
    font-size: 15px !important;
    color: #333333 !important;
}
.weui-cells:before {
    height: 0px !important;
    border-top:none !important;
}
