@charset "UTF-8";
/**
 * @desc pc端常用reset.css
 * @author aerfa
 * @date 2018-07-26
 */
html,body,div,p,ul,li,dl,dt,dd,em,i,span,a,img,input,h1,h2,h3,h4,h5,nav,section,footer,header,table,tr,th,td,ul,li{margin:0;padding:0;box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
i,em,b{font-style:normal}
article,aside,details,figcaption,figure,footer,header,menu,nav,section {display: block;}
a,img,input {border:none;}
a {text-decoration:none;}
a:hover, a:active {outline: none;}
ul,li{list-style: none}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0}
html, body {width: 100%;height: 100%;}
body{font-family:"Helvetica Neue",Helvetica, Arial,sans-serif; font-size: 14px;line-height:1}